.btn{
    border-radius: 40px;
    border: 0;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}
.btn--primary{
    background: dodgerblue;
    color: white;
}
.btn--primary:hover{
    background: rgb(136, 179, 221);
}
.btn--secondary{
    background: darkturquoise;
    color: white;
}
.btn--secondary:hover{
    background: rgb(85, 187, 189);   
}
.btn--accent{
    background: orangered;
    color: white;
}
.btn--accent:hover{
    background: rgb(161, 50, 9);
}
.btn--outline{
    background: #fff;
    color: black;
    border: 2px solid black;
}
.btn--outline:hover{
    background: rgb(182, 151, 151);
}
.btn--block{
    width: 100%;
    display: inline-block;
}
/* media query is when the screen is getting larger than 1024px */
@media screen and (min-width:1024px) {
    btn {
        font-size: 1.5rem;
    }
}